
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Routing Example</title>
</head>
<body>
    <div> 
        This is index page<br/>
        It is auto and default Routing example.
    </div>
</body>
</html>
